.navbar{
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.navbar-nav{
  margin-left: auto;
}

.container {
  font-family: sans-serif;
}
nav a{
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.jumbotron{
  background: url("https://images.unsplash.com/photo-1638188918599-d2e6188a68e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDU0NnxxUFlzRHp2Sk9ZY3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60")fixed;
  background-size: cover;
  height: 70vh;
}

.title{
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  color: white;

}

.about{
  background-color: rgb(3, 3, 37);
  font-family: sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;

}